header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid var(--senary);
    background-color: var(--tertiary);
    padding: 0 10px 0 10px;
    width: 100%;
    min-height: 13vh;
    margin-bottom: 20px;
}


li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1.5px solid var(--secondary);
    transition: border-color .3s ease-in-out;

}

li:hover {
    border-color: var(--senary);
}

.estilosLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.estilosNavLink {
    text-decoration: none;
    color: var(--secondary);
}

.estilosLogo {
    width: 5.5rem;
    display: flex;
}

@media (max-width:320px) {
    header {
        width: 100%;
        justify-content: center;

        .estilosLink h1 {
            font-size: small;
        }

        .estilosNavLink {
            display: flex;
            font-size: .9em;
        }

        .estilosLogo {
            width: 5rem;
        }
    }
}