body {
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: rgb(205, 182, 226);
    padding: 0 10px 0 10px;
}

li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}